<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8" />
   <title>Syntax_BeautifierBLR 1.0</title>
   <meta name="author" content="" />
   <meta name="description" content="" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
 </head>
<body>
<header><center>
<h1>Syntax_BeautifierBLR 1.0</h1>
<h4>Initial syntax:</h4>
</center>
</header>
<form method="POST">
<center><textarea name="text" rows="10" cols="80"></textarea>
<br>
<input type="submit" class="btn btn-success"><br><br>
For further ideas or encountered bugs contact me at
<a href="mailto:kawesolo@amazon.pl" target="_blank">kawesolo@amazon.pl</a>
</center>
</form>
</body>
</html>